*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
main{
  display: flex;           
  height: 100vh;
  padding: 10px;
  background: black;
 

}
.box1{
    background-image: url(https://w0.peakpx.com/wallpaper/150/696/HD-wallpaper-spider-man-marvel-marvel-comics-marvel-superheroes-superheroes.jpg);
    background-size: cover;
    align-items: center;
    flex-direction: column;
    width: 30%;
  
}
.box2{
     
     background-size: cover;
     flex: 7;
    display: flex;
    flex-direction: column;
 
}
.box3{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/928/54/349/superheroes-dc-comics-8k-dark-background-wallpaper-preview.jpg);
    height: 50%;
    width: 100%;
    background-size: cover;
   object-fit: cover;
}
.footer{
   
    height: 50%;
    width: 100%;
   
    display: flex;
}
.box4{
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQayqSAlO0sWBSEPnqPEYlwC9YMzxTgsWcnog&s);
    height: 100%;
    width: 33%;
    background-size: cover;
}
.box5{
     background-image: url(https://i.pinimg.com/736x/89/93/6f/89936f1253efd7a02662880748972ce5.jpg);
    background-size: cover;
    object-fit: cover;
    height: 100%;
    width: 33%;
    
}
.box6{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSM1klTBXLaFh54FFK6lvGwtZt4s10JNUTSw&s);
    background-size: cover;
    height: 100%;
    width: 33%;
   
}